<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>AgroSuivi - Tableau de bord</title>

    
</head>
<body>

    <aside class="sidebar">
        <div class="logo">🌱 AgroSuivi</div>
        <ul class="menu">
            <li class="actif"><a href="index.html">Dashboard</a></li>
            <li><a href="parcelles.html">Parcelles</a></li>
            <li><a href="observations.html">Observations</a></li>
            <li><a href="alertes.html">Alertes</a></li>
        </ul>
    </aside>


    <main class="contenu">

        <h1>Tableau de bord</h1>

        <div class="bento">

            <div class="boite grande">
                <span class="label">Parcelles</span>
                <div>
                    <div class="chiffre" id="nb-parcelles">--</div>
                    <p class="info">Sur 5 zones différentes</p>
                </div>
            </div>

            <div class="boite lime">
                <span class="label">Météo</span>
                <div class="chiffre" id="meteo-temp">--°</div>
                <span class="info" id="meteo-detail">Chargement...</span>
            </div>

            <div class="boite orange">
                <span class="label">Alertes</span>
                <div class="chiffre" id="nb-alertes">--</div>
                <span class="info">À surveiller</span>
            </div>

            <div class="boite">
                <span class="label">Observations</span>
                <div class="chiffre" id="nb-observations">--</div>
                <span class="info">Cette semaine</span>
            </div>

            <div class="boite">
                <span class="label">Risque</span>
                <div class="chiffre" id="nb-risque">--</div>
                <span class="info">Action requise</span>
            </div>

        </div>


        <div class="alertes-bloc">
            <h2>Dernières alertes</h2>
            <div id="liste-alertes">
                <!--  alerte JS -->
            </div>
        </div>

    </main>

    <script src="../static/js/dashboard.js"></script>

</body>
</html>